body {
  margin: 0;
}
.container {
  width: 1280px;
  margin: 0 auto;
  font-family: Arial;
}

.page-header {
  padding: 50px;
  width: 100%;
  box-sizing: border-box;
  background-color: #445162;
  color: #fff;
}

.page-header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.header-wrap {
  float: left;
  width: 460px
}

.header-title {
  margin: 0 0 20px 0;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.header-list {
  padding: 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
}

.header-list-item {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header-list-item:before {
  margin: 0 10px 0 0;
  content: url(../img/check_icon.png);
}

.header-img {
  display: block;
  width: 469px;
  height: 214px;
  float: right;
  background-color: #fff;
  color: #445161;
}

.product {
  padding: 50px;
  box-sizing: border-box;
  width: 100%;
  box-sizing: border-box; 
}

.product:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.product-wrap {
float: left;
width: 650px;
}

.product-title {
  margin: 0 0 30px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #445161;
}

.product-text {
  margin: 0 0 20px 0;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.product-text:last-child {
  margin: 0;
}

.product-video {
  width: 430px;
  height: 245px;
  background-color: #445161;
  float: right;
}

.dignity {
  width: 100%;
  padding: 50px 50px 15px 50px;
  box-sizing: border-box; 
  background-color: #f5f5f5;
  color: #445161;
}

.dignity:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.dignity-title {
  margin: 0 0 30px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.dignity-list-wrap {
  margin: 0;
  padding: 0;
  width:50%;
  float: left;
  box-sizing: border-box;
}

.dignity-list-item {
  padding: 0 0 0 40px;
  margin: 0 0 35px 0;
  position: relative;
  list-style-type: none;
  box-sizing: border-box;
}

.dignity-list-item:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #445161;
  color: white;
  font-size: 32px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 0;
  left: 0;
}

.screenshots {
  padding: 50px 50px 15px 50px;
  width: 100%;
  box-sizing: border-box; 
}

.screenshots:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.screenshots-caption {
  margin: 0 0 30px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #445161;
  text-align: center;
}

.screenshots-item {
  margin: 0 0 30px 0;
  float: left;
  width: 49%;
}

.screenshots-item:nth-child(3) {
  float: right;
  margin-left: 15px;
}

.screenshots-item:nth-child(4) {
  float: right;
  margin-left: 15px;
}

.screenshots-img {
  margin: 0 15px 0 0;
  display: block;
  width: 200px;
  height: 150px;
  background-color: #445161;
  color: #fff;
  float: left;
}

.screenshots-title {
  margin: 0 0 15px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: #445161;
}

.screenshots-text {
  margin: 0;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.reviews {
  padding: 50px 50px 20px 50px;
  width: 100%;
  box-sizing: border-box; 
  background-color: #f5f5f5;
}

.reviews:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.reviews-title {
  margin: 0 0 35px 0;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.reviews-item {
  float: left;
  width: 49%;
  margin: 0 0 30px 0;
}

.reviews-item:nth-child(4) {
  float: right;
}

.reviews-item:nth-child(2){
  float: right;
}

.reviews-img-wrap {
margin: 0;
}

.reviews-img {
  display: block;
  width: 75px;
  height: 75px;
  background-color: #445161;
  border-radius: 50%;
  float: left;
}

.reviews-text {
  padding: 15px 20px;
  box-sizing: border-box;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  font-style: italic;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 0 100px;
  text-align: justify;
}

.reviews-text:before {
  content: "";
  display: block;
  border: 13px solid transparent; 
  border-right: 13px solid #ccc;
  position: absolute;
  top: 35px;
  left: -26px;
}  

.reviews-name {
  display: block;
  margin: 10px 0 0 0;
  color: #989898;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  font-style: normal;
}

.prices {
  padding: 50px;
  width: 100%;
  box-sizing: border-box; 
  text-align: center;
}

.prices:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.prices-title {
  margin: 0 0 30px 0;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.price-item {
  width: 300px;
  background-color: #445161;
  color: #fff;
  padding: 0 0 10px 0;
  box-sizing: border-box;
  border: 2px solid #445161;
  display: inline-block;
  margin: 0 22px 0 22px;
  border-radius: 1%;
}

.price-item-list {
  margin: 20px 0 20px 0;
  padding: 0 34px 0 34px;
  box-sizing: border-box;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.price-item-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  padding: 16px 0 16px 0;
  box-sizing: border-box;
}

.price-item-price {
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  padding: 18px 0 18px 0;
  box-sizing: border-box;
  background-color: #fff;
  color: #445162;
}

.price-item-button {
  text-transform: uppercase;
  display: block;
  width: 260px;
  padding: 11px;
  margin: 0 auto;
  border: none;
  text-decoration: none;
  color: #445161;
  background-color: #fff;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  word-break: break-all;
}

.price-item-button:hover {
  background-color: gray;
  color: white;
}

.price-item-button:active {
  background-color: #fff;
  color: #445161;
} 

.footer-contacts {
  padding: 50px 250px 50px 250px;
  width: 100%;
  box-sizing: border-box;
  background-color: #445162;
  color: #fff;
}

.footer-contacts:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.footer-contacts-title {
  margin: 0 0 30px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.footer-contacts-form {
  width: 500px;
  float: left;
  margin: 0 45px 0 0;
}

.footer-contacts-form input[type="text"],
.footer-contacts-form input[type="email"],
.footer-contacts-form textarea {
  width: 100%;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 5px;
  background-color:  #ffffff;
  outline: none;
  text-transform: capitalize;
  color: #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  resize: none;
}

.footer-contacts-form textarea {
  font-family: Arial;
  height: 170px;
}

.footer-contacts-form input[type="submit"] {
  display: block;
  border-radius: 5px;
  background-color:  #ffffff;
  width: 140px;
  height: 40px;
  text-transform: uppercase;
  color:  #445162;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  outline: none;
  border: none;
  padding: 0;
  margin: auto;
}

.footer-contacts-form input[type="submit"]:hover {
  background-color: gray;
  color: white;
}

.footer-contacts-form input[type="submit"]:active {
  background-color:  #ffffff;
  color:  #445162;
}

.footer-contacts-connection {
  float: left;
}

.footer-contacts-connection-link {
  display: block;
  margin: 0 0 15px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  padding: 0 0 0 29px;
  box-sizing: border-box;
}

.footer-contacts-connection-link:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 210px;
}

.footer-contacts-connection-link:last-of-type {
  margin: 0 0 32px 0;
}

.footer-contacts-connection-link:nth-of-type(1):before {
  background-image: url('../img/skype_icon.png');
}

.footer-contacts-connection-link:nth-of-type(2):before {
  background-image: url('../img/icq_icon.png');
}

.footer-contacts-connection-link:nth-of-type(3):before {
  background-image: url('../img/email_icon.png');
}

.footer-contacts-connection-link:nth-of-type(4):before {
  background-image: url('../img/phone_icon.png');
}

.footer-contacts-connection-social {
  float: left;
  display: block;
  width: 43px;
  height: 42px;
}

.footer-contacts-connection-social:nth-of-type(1) {
  background-image: url('../img/social_buttons.png');
  background-position: -1 0;
  background-repeat: no-repeat;
}

.footer-contacts-connection-social:nth-of-type(2) {
  background-image: url('../img/social_buttons.png');
  background-position: -49px 0;
  background-repeat: no-repeat;
  margin: 0 0 0 5px;
}

.footer-contacts-connection-social:nth-of-type(3) {
  background-image: url('../img/social_buttons.png');
  background-position: -99px 0;
  background-repeat: no-repeat;
  margin: 0 0 0 5px;
}

.footer-contacts-connection-social:nth-of-type(4) {
  background-image: url('../img/social_buttons.png');
  background-position: -149px 0;
  background-repeat: no-repeat;
  margin: 0 0 0 5px;
}

.footer-contacts-connection-social:nth-of-type(5) {
  background-image: url('../img/social_buttons.png');
  background-position: -198px 0;
  background-repeat: no-repeat;
  margin: 0 0 0 5px;
}

.footer-copyright {
  color: #445162;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  margin: 0;
}